@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.nav a{
    color: var(--title-color1);
    font-weight: bold;
}
:root {
    --primary-color2: #FF6B55;
    --primary-color3: #F46F30;
    --gradient-color: linear-gradient(90deg, #F86CA7 0%, #FF7F18 100%);
    --title-color1: #001D23;
    --title-color2: #253D4E;
    --text-color1: #8A8A8A;
    --text-color2: #1F2124;
    --text-color3: #62686E;
    --text-color4: #4F4F4F;
    --change-nav-color: #9c4368d8;
    --white: #ffffff;
    --font-dosis: "Dosis", sans-serif;
    --font-cabin: "Cabin", sans-serif;

}
body {
    font-family: var(--font-dosis);
    color: var(--text-color1);
    background: #fbfbfb;
    font-size: 20px;
}
.row{
    padding: 0 !important;
}

.row-customized{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.dark-mode{
    background-color: #001D23;

}
.bg-color1{
    background-color: #fcf1f1 !important;
}
.bg-color2{
    background-color: #f5f2fc !important;
}
.bg-color3{
    background-color: #f2f5f2 !important;
}
.bg-color4{
    background-color: #fbf3f5 !important;
}
.color1{
    color: rgba(255, 136, 136, 0.897);
}
